<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rakudana"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rakudana_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rakudana_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rakudana"
        android:hardwareAccelerated="true">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <!-- android:clearTaskOnLaunch="true" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClientActions">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <data
                    android:scheme="apps"
                    android:host="rakudana.com"
                    android:pathPrefix="/client_app"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <data
                    android:scheme="https"
                    android:host="rakudana.com:8080"
                    android:pathPattern="/app" />
            </intent-filter>
        </activity>

    </application>

</manifest>